<div>
    <mat-form-field color="primary" class="custom-input">
      <mat-label>{{label}}</mat-label>
        <input matInput
             [formControl]="control" 
             [type]="type" 
             [autocomplete]="autocomplete"
             >
             @if(isPassword){
                <button matSuffix mat-button (click)="showOrHidePassword($event)">
                    <mat-icon>{{hide ? 'visibility': 'visibility_off'}}</mat-icon>
                </button>
             }
    </mat-form-field>
  </div>